*,
*::before,
*::after {
    box-sizing: border-box;
}

.btn-primary {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.btn-primary:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.btn-primary:hover {
  background-color: #2c974b;
}

.btn-primary:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.btn-primary:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.btn-primary:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.btn-secondary {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
  text-decoration: none;
}

.btn-secondary:disabled {
  cursor: default;
}

.btn-secondary:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.btn-tertiary {
    appearance: button;
    backface-visibility: hidden;
    background-color: #ff4d4d; /* Red color */
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 50%;
    text-decoration: none;
}
.btn-tertiary:disabled {
    cursor: default;
}
.btn-tertiary:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(255, 77, 77, .3) 0 0 0 4px; /* Red color */
}

table {
    table-layout: fixed;
    width: calc(100vw - 250px);
}

th{
    background-color: #102C57;
    width: 33.3%;
    color: #EFECEC;
    border-radius: 5px;
}

tr{
    border-radius: 5px;
}

tr:nth-child(odd){
    background-color: #EADBC8;
}

tr:nth-child(even){
    background-color: #DAC0A3;
}

td:nth-child(3){
    text-align: center;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    width: 70%;
}

input[type="text"]:focus {
    border-color: #2ea44f;
    box-shadow: 0 0 0 3px rgba(46, 164, 79, 0.4);
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

select:focus {
    border-color: #2ea44f;
    box-shadow: 0 0 0 3px rgba(46, 164, 79, 0.4);
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: row;
    background-color: #EFECEC;
}

header .navbar {
    background-color: #EFECEC;
    height: 100vh;
    padding-block: 1rem;
    margin-inline: auto;
    position: fixed;
    left: 0;
    overflow-y: scroll;
}

header .navbar .nav-list ul {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

header .navbar .nav-list li {
    padding: 0.5rem 1.5rem;
    position: relative;
    list-style-type: none;
}

header .navbar .nav-list li a {
    padding: 0.5rem 1.5rem;
    border-radius: 999px;
    text-decoration: none;
    font-size: 0.90rem;
    font-weight: 600;
    color: rgb(51, 51, 51);
}

header .navbar .nav-list li a:hover{
    color: #A5DD9B;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 250px);
}

.content {
    margin-left: 200px;
    padding: 20px;
    width: calc(100% - 200px);
    box-sizing: border-box;
}

.summary-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    height: 35vh;
    flex-wrap: wrap;
}

.summary-item{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 150px;
    overflow: hidden;
    padding: 25px;
    border-radius: 10px;
}

.summary-item:nth-child(1){
    background-color: #c6ebc5;
}

.summary-item:nth-child(2){
    background-color: #bbe2ec;
}

.summary-item:nth-child(3){
    background-color: #fdffab;
}

.summary-item:nth-child(4){
    background-color: #fa7070;
}

.time-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: calc(100vw - 250px);
    height: 300px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.dev-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 300px;
}

.account-container{
    padding: 10px;
    width: calc(100vw - 250px);
    height: 300px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.profile-card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    height: 35vh;
    flex-wrap: wrap;
}